body {
    background-color: teal;
}
.header {
    margin: 50px auto;
    width: 80%;
    height: 100px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.header-left-logo {
    width: 200px;
    height: 100px;
    margin-left: 100px;
    background-image: url(img/header-logo.png);
    background-size: cover;
}
.header-right-btn-signin {
    width: 100px;
    height: 30px;
    margin-right: 100px;
}
.form-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container {
    display: none;
    margin: o auto;
    text-align: center;
}
.active {
    display: block;
}